.square {
    height: 150px;
    width: 100px;
    font-size: 40px;
    font-family: 'Patua One', cursive, sans-serif;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;

    padding-top: 10px;
    padding-left: 10px;

    margin-left: 10px;
    display: inline-block;
    box-shadow: 2px 2px 2px 2px #687291;




}

.e:hover{
    background-color:yellow;
    box-shadow: 5px 5px 5px 5px #687291;
}

.squareF {

    height: 150px;
    width: 100px;
    font-size: 40px;
    font-family: 'Patua One', cursive, sans-serif;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;

    padding-top: 10px;
    padding-left: 10px;

    justify-content: left;
    position: fixed;
    bottom: 0;
    right: 2px;

}
